git:
  depth: 1
jobs:
  include:
  - stage: trigger downstream
    script: |
      echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
      if [[ ($TRAVIS_BRANCH == master) &&
            ($TRAVIS_PULL_REQUEST == false) ]] ; then
        curl -LO --retry 3 https://raw.githubusercontent.com/plume-lib/trigger-travis/master/trigger-travis.sh
        sh trigger-travis.sh sanskrit-coders rss-feeds $TRAVIS_ACCESS_TOKEN
      fi

